page-register {

    .facebook-btn {
        background-color: #3b5998;
        margin: auto;
        width: 100%;
        margin-bottom: 5px;
        height: 30px;
        color: white;
    }

    .societypro{
        text-align:center;
    }
}
