page-pessoa {
    .simbolo {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 40%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }

    .simboloheight {
        position: relative;
        overflow: hidden;
        width: 220px;
        height: 165px;
        clear: both;
        padding-top: 10px;
        background-color: #000000 !important;
    }

    .botaocamera {
        position: absolute;
        top: 60%;
        left: 60%;
        border-radius: 50%;
    }

    .facebook-btn {
        background-color: #3b5998;
        margin: auto;
        width: 100%;
        margin-bottom: 5px;
        height: 30px;
        color: white;
    }
}
