<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{TITULO}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    
    <ion-item no-lines>
        <ion-label>Ano Temporada</ion-label>
        <ion-select [(ngModel)]="IANOTEMPORADA" required name="IANOTEMPORADA" (ionChange)="listFrequencia(IANOTEMPORADA)">
            <ion-option *ngFor="let item of listAno" [value]="item">{{item}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-row class="headTable">
        <ion-col width-80>
            JOGADOR
        </ion-col>
        <ion-col width-20>
            PARTIDAS
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of jogadores; let i=index" class="bodyTable">

        <ion-card>
            <ion-card-content class="pading">
                <ion-row>
                    <ion-col width-80>
                        <ion-row>
                            <ion-col width-10 class="texto">
                                {{i + 1}}º
                            </ion-col>

                            <ion-col width-20>
                                <ion-avatar item-left>
                                    <img class="simbolo" [src]="imagemJogador+item.FOTO">
                                </ion-avatar>
                            </ion-col>
                            <ion-col width-66 class="texto">
                                {{item.sNome}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col width-20 class="textoQuantidade">
                        {{item.iTotalPartidaJogador}}
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>