page-time-list {
    .cor {
        background-color: #1a2226;
        margin: auto;
        margin-bottom: 5px;
        color: white;
    }

    ion-label {
        font-size: small;
        font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';
    }
}
