page-time-list {
    time-list-content {
        background-size: 100%;
        background-position-y: 50%;
    }

    .logout {
        margin-right: 20px;
    }

    .cor {
        background-color: #1a2226;
    }

    background-color: #ecf0f5;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
