page-sumula-list-campeonato {
    .sumula-list-campeonato-content {
        font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        background-color: #37414a;
        background: #37414a;
        color: #efefef;
    }
}
