page-campo-details {
    background-size: 100%;
    background-position-y: 50%;
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';


    .tempo {
        color: #0eff00;
    }

    .scroll {
        height: 100%;
    }

    ion-card.adv-map p {
        font-size: 0.7em !important;
    }

    button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
    }

    .item-bold {
        font-weight: bold;
    }


    #map {
        width: 98%;
        height: 300px;
    }
}
