<ion-header>
    <ion-navbar color="menu-o-t">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{TITULO}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="content-modelo">
    <ion-item no-lines>
        <ion-label>Campeonato</ion-label>
        <ion-select [(ngModel)]="model.IDCAMPEONATO" required name="IDCAMPEONATO" (ionChange)="tipoCampeonato(model.IDCAMPEONATO)">
            <ion-option *ngFor="let item of campeonatos" [value]="item.ID">{{item.NOME}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item no-lines *ngIf='TIPOCAMPEONATO'>
        <ion-label>Grupo</ion-label>
        <ion-select [(ngModel)]="model.IDGRUPO" required name="IDGRUPO">
            <ion-option *ngFor="let item of grupos" [value]="item.ID">{{item.NOME}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-row>
        <button ion-button icon-left block class="cor" (click)="carregaClassificacao()">
            <ion-icon name="podium"></ion-icon>
            {{TITULO}}
        </button>
    </ion-row>
    <div *ngIf="model.visible">
        <ion-row class="headTable">
            <ion-col width-67>
                Time
            </ion-col>
            <ion-col width-10>
                Pts
            </ion-col>
            <ion-col width-5>
                J
            </ion-col>
            <ion-col width-5>
                V
            </ion-col>
            <ion-col width-5>
                E
            </ion-col>
            <ion-col width-5>
                D
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of classificacao; let i = index" class="bodyTable">
            <ion-col width-67>
                <ion-row>
                    <ion-col width-10>
                        {{i+1}}
                    </ion-col>
                    <ion-col width-20>
                        <ion-avatar>
                            <img class="simbolo" [src]="imagemSimbolo+item.SIMBOLO">
                        </ion-avatar>
                    </ion-col>
                    <ion-col width-67 class="nomeTime">
                        {{item.sNome}}
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col width-10>
                {{item.iPontuacao}}
            </ion-col>
            <ion-col width-5>
                {{item.partidas}}
            </ion-col>
            <ion-col width-5>
                {{item.vitorias}}
            </ion-col>
            <ion-col width-5>
                {{item.empates}}
            </ion-col>
            <ion-col width-5>
                {{item.derrotas}}
            </ion-col>
        </ion-row>
    </div>
</ion-content>