page-artilharia {
    .headTable {
        background-color: #1a2226;
        color: white;
        text-align: center;
        height: 35px;
    }

    .bodyTable {
        padding: 1px;
        border: 0px solid #b8c7ce;
        text-align: center;
    }
}
