<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{TITULO}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-item no-lines>
        <ion-label>Ano Temporada</ion-label>
        <ion-select [(ngModel)]="IANOTEMPORADA" required name="IANOTEMPORADA" (ionChange)="listArtilharia(IANOTEMPORADA)">
            <ion-option *ngFor="let item of listAno" [value]="item">{{item}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item style="background:#000000;color:#ffffff">
        <h6 item-left>Jogador</h6>
        <h6 item-right>Gols</h6>
        <h6 item-right style="margin:auto">Partidas</h6>
    </ion-item>

    <ion-list>
        <ion-item *ngFor="let item of jogadores; let i = index">
            <h5 item-left>{{i+1}}º</h5>
            <ion-avatar item-left>
                <img [src]="imagemJogador+item.FOTO">
            </ion-avatar>

            <h6>{{item.sNome}}</h6>
            <p item-right>{{item.iQuantidade}}</p>
            <p item-right style="margin:auto">{{item.iTotalPartidaJogador}}/{{item.iTotalPartida}}</p>
        </ion-item>

    </ion-list>

    <ion-item *ngIf="naocadastrado" class="naoencontrado">
        <p>Não existe gols cadastrado.</p>
    </ion-item>
</ion-content>