page-classificacao-list-grupo {
    background-size: 100%;
    background-position-y: 50%;
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';

    .imagem {
        height: 50px;
        width: 50px;
    }
}
