page-home {

    .imagem {
        /*height: 50px;
        width: 50px;*/
        font-size: 40px;
        /*text-shadow: 1px 1px #000000;*/
    }

    p {
        margin: 1px;
    }

    ion-grid {
        text-align: center;
        font-size: x-small;
        /*font-weight: bold;*/
    }

    .logo {
        width: 55%;
        vertical-align: bottom;
        margin-left: 10px;
    }

    .header {
        /*text-align: center;*/
    }
    /*font-weight: bold;*/
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif' !important;
}
