page-partida-list {
    .partida-list-content {
        background-size: 100%;
        background-position-y: 50%;
        background-color: #37414a;
        font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';

        strong {
            font-size: 1.0rem;
        }

        p {
            font-size: 1.0rem;
            margin: 2px;
        }
    }

    .cor {
        background-color: #1a2226;
        margin: auto;
        margin-bottom: 5px;
        color: white;
    }

    ion-col {
        padding: 1px;
    }

    .headTable {
        background-color: #1a2226;
        color: white;
        text-align: center;
    }

    .bodyTable {
        padding: 1px;
        border: 1px solid #b8c7ce;
        text-align: center;
    }

    .texto {
        margin: auto;
        color: #efefef;
        text-align: center;
    }


    .simbolo {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .local {
        margin: 0px;
        color: #efefef;
        text-align: center;
        font-weight: bold;
    }
}
