<ion-header>
    <ion-navbar hideBackButton="true" color="dark">
        <ion-icon name="arrow-back" class="voltar" (click)="voltar()"></ion-icon>
        <ion-title class="left">{{TITULO}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="ranking-modelo" (window:orientationchange)="changeOrientation($event)">
    <ion-item no-lines>
        <ion-label>Ano Temporada</ion-label>
        <ion-select [(ngModel)]="IANOTEMPORADA" required name="IANOTEMPORADA" (ionChange)="listRanking(IANOTEMPORADA,IDPESSOA)">
            <ion-option *ngFor="let item of listAno" [value]="item">{{item}}</ion-option>
        </ion-select>
    </ion-item>
    <div *ngIf="screenOrientation.type=='portrait-primary' || screenOrientation.type=='portrait-secondary'">
        <ion-row class="headTable">
            <ion-col width-67>
                Time
            </ion-col>
            <ion-col width-10>
                Pts
            </ion-col>
            <ion-col width-5>
                J
            </ion-col>
            <ion-col width-5>
                V
            </ion-col>
            <ion-col width-5>
                E
            </ion-col>
            <ion-col width-5>
                D
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of ranking; let i = index" class="bodyTable">
            <ion-col width-67>
                <ion-row>
                    <ion-col width-10 class="nomeTime">
                        {{i+1}}º
                    </ion-col>
                    <ion-col width-20 class="nomeTime">
                        <ion-avatar>
                            <img class="simbolo" [src]="imagemSimbolo+item.SIMBOLO">
                        </ion-avatar>
                    </ion-col>
                    <ion-col width-67 class="nomeTime">
                        {{item.sNome}}
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col width-10 class="nomeTime">
                {{item.iPontuacao}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.partidas}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.vitorias}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.empates}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.derrotas}}
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="screenOrientation.type=='landscape-primary' || screenOrientation.type=='landscape-secondary'">
        <ion-row class="headTable">
            <ion-col width-50>
                Time
            </ion-col>
            <ion-col width-10>
                Pts
            </ion-col>
            <ion-col width-5>
                J
            </ion-col>
            <ion-col width-5>
                V
            </ion-col>
            <ion-col width-5>
                E
            </ion-col>
            <ion-col width-5>
                D
            </ion-col>
            <ion-col width-5>
                GP
            </ion-col>
            <ion-col width-5>
                GC
            </ion-col>
            <ion-col width-5>
                S
            </ion-col>
            <ion-col width-5>
                %
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of ranking; let i = index" class="bodyTable">
            <ion-col width-50>
                <ion-row>
                    <ion-col width-10 class="nomeTime">
                        {{i+1}}º
                    </ion-col>
                    <ion-col width-20>
                        <ion-avatar>
                            <img class="simbolo" [src]="imagemSimbolo+item.SIMBOLO">
                        </ion-avatar>
                    </ion-col>
                    <ion-col width-67 class="nomeTime">
                        {{item.sNome}}
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col width-10 class="nomeTime">
                {{item.iPontuacao}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.partidas}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.vitorias}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.empates}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.derrotas}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.golsP}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.golsC}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.saldo}}
            </ion-col>
            <ion-col width-5 class="nomeTime">
                {{item.porcentagem}}
            </ion-col>
        </ion-row>
    </div>


</ion-content>