<ion-header>
    <ion-navbar hideBackButton="true" color="dark">
        <ion-icon name="arrow-back" class="voltar" (click)="voltar()"></ion-icon>
        <ion-title *ngIf="devicePlatform =='Android'" class="left">{{TITULO}}</ion-title>
        <ion-title *ngIf="devicePlatform !='Android'">{{TITULO}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="">
    <br />

    <ion-grid>
        <ion-row>
            <ion-col (click)="classificacao()">
                <ion-icon name="podium" class="imagem"></ion-icon>
                <p>Classificação</p>
            </ion-col>
            <ion-col (click)="bid()">
                <ion-icon name="swap" class="imagem"></ion-icon>
                <p>BID</p>
            </ion-col>
            <ion-col (click)="partidas()">
                <ion-icon name="game-controller-a" class="imagem"></ion-icon>
                <p>Partidas</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col (click)="sumulas()">
                <ion-icon name="list-box" class="imagem"></ion-icon>
                <p>Súmulas</p>
            </ion-col>
            <ion-col (click)="suspensos()">
                <ion-icon name="hand" class="imagem"></ion-icon>
                <p>Suspensos</p>
            </ion-col>
            <ion-col (click)="artilharia()">
                <ion-icon name="football" class="imagem"></ion-icon>
                <p>Artilharia</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>