page-campeonato {
    .imagem {
        height: 50px;
        width: 50px;
    }

    .content {
        background: #f8f8f8;
    }

    ion-grid{
        text-align: center;
        font-size:x-small;
        /*font-weight: bold;*/
    }

    
    .voltar {
        margin-left: 20px;
        background: black;
        color: white;
        font-size: 25px !important;
    }

    .left {
        margin-left: 60px;
        margin-top: -25px;
    }

    .content-modelo {
        background-size: 100%;
        background-position-y: 50%;
        font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';
        background: #37414a;
        color: #efefef;

        ion-item {
            background: #37414a;
            color: #efefef;
        }

        .cor {
            background-color: #1a2226;
            margin: auto;
            margin-bottom: 5px;
            color: white;
        }
    }
}
