page-artilharia {
    ion-col {
        padding: 1px;
        margin: auto;
    }

    .headTable {
        background-color: #1a2226;
        color: white;
        text-align: center;
        height: 35px;
    }

    .texto {
        font-size: x-small !important;
        font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';

        p {
            font-size: xx-small !important;
        }
    }
}
