page-artilharia {
    background-size: 100%;
    background-position-y: 50%;
    font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial','sans-serif';

    .headTable {
        background-color: #000000;
        color: white;
        text-align: center;
        height: 35px;
        font-size: xx-small !important;
    }

    h6 {
        font-size: x-small !important;
    }

    h5 {
        width: 30px;
    }
}
